.overlay {
  color: #fff;
}

.overlay::before {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

header {
  padding: 92px 85px 92px 50px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
}

.navigation-menu {
  list-style-type: circle;
  display: flex;
  gap: 32px;
}

.navigation-menu li:first-child {
  list-style-type: none;
}

.link-active {
  text-decoration: none;
}

.logo-black {
  display: block;
  margin-right: 151px;
  width: 135px;
  height: 105px;
}

.contacts {
  display: flex;
  flex-direction: column;
  margin-top: 2px;
  line-height: 1.4;
}

.cover {
  padding: 165px 50px 50px;
  margin-bottom: 180px;
  background: url(../images/cover.jpg);
  position: relative;
}

.background-positioning {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cover_title {
  position: relative;
  z-index: 1;
  font-size: 100px;
  font-weight: bold;
  line-height: 130%;
  letter-spacing: 30px;
  text-transform: uppercase;
  margin-bottom: 95px;
}

.accent-span {
  display: block;
  margin-right: -0.3em;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
  margin-top: 0.1em;
}

.description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  font-size: 22px;
  font-weight: normal;
  text-transform: uppercase;
  word-spacing: 20px;
}

.cover_button {
  padding: 12px 32px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #fff;
  background: none;
  border: 1px solid #fff;
}

.lots {
  margin-bottom: 120px;
}

.lots_title {
  margin-left: 64px;
  margin-bottom: 23px;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.card-list {
  margin: 0 24px 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  list-style-type: none;
}

.card {
  padding: 48px 40px;
  position: relative;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  z-index: 1;
}

.card_title {
  font-size: 22px;
  font-weight: bold;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration-thickness: 1px;
  position: relative;
  z-index: 2;
}

.card_paragraph {
  font-size: 20px;
  font-weight: normal;
  line-height: 120%;
  margin-top: auto;
  position: relative;
  z-index: 2;
}

.lot-anderson {
  background-image: url(../images/card-lot-01.jpg);
}

.lot-ulysses {
  background-image: url(../images/card-lot-02.jpg);
}

.lot-kandinsky {
  background-image: url(../images/card-lot-03.jpg);
}

.lots_more-link {
  font-size: 20px;
  margin-left: 64px;
  text-decoration-thickness: 1px;
}

.about {
  margin: 0px 24px 180px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.logo-white {
  box-sizing: content-box;
  display: block;
  margin-left: 47px;
  margin-top: 34px;
  width: 150px;
  height: 112px;
  padding: 64px 45px;
  background-color: #000;
  border-radius: 50%;
}

.about-content {
  margin-top: 136px;
  margin-left: 8px;
}

.about_title {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.about_text {
  display: flex;
  flex-direction: column;
  gap: 22px;
  font-size: 20px;
  font-weight: normal;
  line-height: 24px;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr min-content;
  padding: 0 50px 82px;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
}

.footer-navigation-menu {
  margin-right: 140px;
  margin-top: 5px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.1;
}

.socials-menu {
  list-style-type: none;
  display: flex;
  gap: 48px;
  margin-top: 3px;
}

.social {
  display: block;
  width: 48px;
  height: 48px;
}
